.logo img {
    max-width: 100px; /* Điều chỉnh kích thước logo theo mong muốn */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for header and navigation menu */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.user-actions a {
    text-decoration: none;
    color: #fff; 
    border: 1px solid #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    margin-left: 20px;
}

/* Tệp CSS tách riêng cho trang chi tiết sản phẩm */
body {
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

img.img-fluid {
    max-width: 100%;
    height: auto;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.related-products {
    margin-top: 20px;
}

.related-product {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.buy-now-button  {
    background-color: #007bff; /* Màu xanh */
    color: #fff; /* Chữ trắng */
    border: none;
    padding: 10px 210px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
} 
